.contact__description {
  width: 330px;
  margin: auto;
}

.contact__button {
  width: 150px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.contact__socials__list {
  width: fit-content;
  margin: auto;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.contact__socials__icons {
  width: fit-content;
  float: left;
  margin: 15px;
  transition: 0.3s;
}

.contact__socials__icons:hover {
  transform: translateY(-5px);
}

/*===== Media Queries =====*/

/*===== Small Device =====*/
@media (max-width: 350px) {
  .contact__description {
    width: 250px;
  }
}

/*===== medium Device =====*/
@media (min-width: 568px) {
  .contact__description {
    width: 400px;
  }
}

/*===== medium Device =====*/
@media (min-width: 768px) {
  .skills__container {
    overflow: hidden;
    margin-top: 2rem;
  }

  .software-skill-inline {
    margin-right: 20px;
    margin-left: 20px;
  }

  .software-skills-main-div {
    width: 400px;
    display: flex;
    flex: 1 1;
  }

  .skills__img {
    width: 350px;
    display: block;
    float: left;
  }
}
