.about__img {
  width: 300px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  width: 164.1px;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.button svg {
  margin-left: 10px;
}

/*===== Media Queries =====*/

/*===== medium Device =====*/
@media (min-width: 568px) {
  .about__img {
    width: 400px;
  }

  .about__description {
    width: 400px;
    margin: auto;
    margin-bottom: var(--mb-2-5);
  }

  .about__info {
    width: 400px;
    margin: auto;
    margin-bottom: var(--mb-2-5);
  }
}

@media (min-width: 700px) {
  .about__img {
    width: 600px;
  }

  .about__description {
    width: 550px;
    margin: auto;
    margin-bottom: var(--mb-2-5);
  }

  .about__info {
    width: 500px;
    margin: auto;
    margin-bottom: var(--mb-2-5);
  }
}
