@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #6e57e0;
  --first-color-second: #6e57e0;
  --first-color-alt: #5a43cb;
  --first-color-lighter: #c1b6fc;
  --title-color: #242329;
  --text-color: #6d6a7c;
  --text-color-light: #a19fad;
  --input-color: #f0eefc;
  --body-color: #fbfbfe;
  --container-color: #fff;

  /*===== Fonts and Typography =====*/
  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*===== Font Weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*===== Margines Bottom =====*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*===== Z Index =====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: var(--body-font);
}

/*===== Resuable CSS Classes =====*/
.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
  text-align: center;
}

/*===== Layout =====*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*===== contact to footer spacer =====*/
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(".//assets/layered-wave.svg");
}

/*===== Media Queries =====*/

/*===== Small Device =====*/
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/*===== medium Device =====*/
@media screen and (min-width: 768px) {
  .section-title {
    font-size: var(--h1-font-size);
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section-subtitle {
    margin-bottom: 4rem;
  }
}
