@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-[#222222];
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 8rem;
}
