.Big__Projects {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
}

.projects-grid {
  list-style: outside none none;
  padding: 0px;
  margin: 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.project-inner {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  transition: var(--transition);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.project-top {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.project-title {
  margin: 0px 0px 10px;
  color: var(--lightest-slate);
  font-size: var(--fz-xxl);
}

.project-description {
  color: var(--light-slate);
  font-size: 17px;
}

.github {
  margin-right: 10px;
}

.project-tech-list li {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.more-button {
  transition: 0.3s;
}

.more-button:hover {
  color: var(--first-color);
}

/*===== Media Queries =====*/

/*===== Small Device =====*/
@media (max-width: 350px) {
  .projects-grid {
    width: 260px;
  }

  .projects__StyledProject-sc-1v1fime-1 {
    width: 260px;
  }
}

/*===== medium Device =====*/
@media (min-width: 568px) {
  .projects__StyledProject-sc-1v1fime-1 {
    margin-bottom: 1rem;
  }
}

.projects__StyledProject-sc-1v1fime-1 {
  transition: 0.3s;
}

.projects__StyledProject-sc-1v1fime-1:hover {
  transform: translateY(-5px);
}
